In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [120]:
data = pd.read_csv("dataset_sdn.csv")

In [121]:
data[data['label'] == 1].tail(10)

,dt,switch,src,dst,pktcount,bytecount,dur,dur_nsec,tot_dur,flows,...,pktrate,Pairflow,Protocol,port_no,tx_bytes,rx_bytes,tx_kbps,rx_kbps,tot_kbps,label
100032,6552,4,10.0.0.6,10.0.0.9,129976,135434992,450,995000000,4.510000e+11,7,...,101,1,ICMP,2,105767,135561984,0,0.0,0.0,1
100033,6552,4,10.0.0.6,10.0.0.9,129976,135434992,450,995000000,4.510000e+11,7,...,101,1,ICMP,5,406600633,135491541,822,822.0,1644.0,1
100034,6552,4,10.0.0.9,10.0.0.6,129558,134999436,448,981000000,4.490000e+11,7,...,101,1,ICMP,3,105941,102068,0,0.0,0.0,1
100035,6552,4,10.0.0.9,10.0.0.6,129558,134999436,448,981000000,4.490000e+11,7,...,101,1,ICMP,1,135277359,2178,820,0.0,820.0,1
100036,6552,4,10.0.0.9,10.0.0.6,129558,134999436,448,981000000,4.490000e+11,7,...,101,1,ICMP,4,135880427,406800791,1,822.0,823.0,1
100037,6552,4,10.0.0.9,10.0.0.6,129558,134999436,448,981000000,4.490000e+11,7,...,101,1,ICMP,2,105767,135561984,0,0.0,0.0,1
100038,6552,4,10.0.0.9,10.0.0.6,129558,134999436,448,981000000,4.490000e+11,7,...,101,1,ICMP,5,406600633,135491541,822,822.0,1644.0,1
100051,6552,3,10.0.0.6,10.0.0.9,129986,135445412,451,235000000,4.510000e+11,6,...,101,1,ICMP,1,271228089,271126588,0,0.0,0.0,1
100052,6552,3,10.0.0.6,10.0.0.9,129986,135445412,451,235000000,4.510000e+11,6,...,101,1,ICMP,2,135482179,406500239,1,822.0,823.0,1
100053,6552,3,10.0.0.6,10.0.0.9,129986,135445412,451,235000000,4.510000e+11,6,...,101,1,ICMP,3,406800791,135880427,822,1.0,823.0,1

In [122]:
data[data['label'] == 0].head()

,dt,switch,src,dst,pktcount,bytecount,dur,dur_nsec,tot_dur,flows,...,pktrate,Pairflow,Protocol,port_no,tx_bytes,rx_bytes,tx_kbps,rx_kbps,tot_kbps,label
0,11425,1,10.0.0.1,10.0.0.8,45304,48294064,100,716000000,1.010000e+11,3,...,451,0,UDP,3,143928631,3917,0,0.0,0.0,0
1,11605,1,10.0.0.1,10.0.0.8,126395,134737070,280,734000000,2.810000e+11,2,...,451,0,UDP,4,3842,3520,0,0.0,0.0,0
2,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,UDP,1,3795,1242,0,0.0,0.0,0
3,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,UDP,2,3688,1492,0,0.0,0.0,0
4,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,UDP,3,3413,3665,0,0.0,0.0,0

In [123]:
data = data.dropna()

In [124]:
columns = []
for i in data.columns:
    #print(data[i].dtype == 'O')
    if data[i].dtype != 'O':
        columns.append(i)
print(columns)

['dt', 'switch', 'pktcount', 'bytecount', 'dur', 'dur_nsec', 'tot_dur', 'flows', 'packetins', 'pktperflow', 'byteperflow', 'pktrate', 'Pairflow', 'port_no', 'tx_bytes', 'rx_bytes', 'tx_kbps', 'rx_kbps', 'tot_kbps', 'label']

In [125]:
data = data[columns]

In [126]:
label = data["label"]
data = data.drop(["label"], axis=1)

In [127]:
# plt.figure(figsize=(15,8))
# ax = sns.heatmap(data.corr(), annot=True);

In [163]:
data.corr()[(data.corr() > 0.70) == True];

In [129]:
data.corr().columns.shape;

In [162]:
# accepted_cols = ['dt', 'pktcount', 'bytecount','dur', 'flows','packetins', 'pktrate', 'Pairflow','tx_bytes', 'rx_bytes', 'rx_kbps', 'tot_kbps']

In [165]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import BernoulliRBM
from sklearn.preprocessing import StandardScaler

In [168]:
scaler = StandardScaler().fit(data)
data_scaled = scaler.transform(data)

In [169]:
train_X, test_X, train_y, test_y = train_test_split(data_scaled, label, test_size=0.30)

In [170]:
models = [LogisticRegression, SGDClassifier, MLPClassifier]

In [171]:
for model in models:
    model_name = model.__name__
    model = model(max_iter=2000)
    model.fit(train_X, train_y)
    print("Model Name:" + model_name)
    print("Train Score:" + str(model.score(train_X, train_y)))
    print("Test Score: " + str(model.score(test_X, test_y)))

Model Name:LogisticRegression
Train Score:0.7532158432732126
Test Score: 0.7508025166923472
Model Name:SGDClassifier
Train Score:0.7577145844511398
Test Score: 0.7571263482280431
Model Name:MLPClassifier
Train Score:0.999325876704225
Test Score: 0.9979134565998973

In [150]:
test_y.iloc[0]

0

In [179]:
rangay = range(5,15)

In [185]:
model.predict(test_X[rangay]) == np.array(test_y.iloc[rangay])

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [186]:
np.array(test_y.iloc[rangay])

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 1], dtype=int64)